.tagmodal-container {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
    border-top: 0.5px solid #7070db;
    border-bottom: 0.5px solid #7070db;
}

.w-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.intro {
    border: 1px solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 1rem;
    width: 24%;
    background-color: #7070db;
    color: white;
    border: 1px solid #7070db;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.value {
    border: 1px solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.value:hover {
    background-color:#7070db;
    color: white;
}

.tagmodal-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favourite-container {
    height: 100%;
    width: 50%;
}

.favourites-toggle {
    height: 100%;
    width: 50%;
    cursor: pointer;
    transition: transform .5s;
}

.favourites-toggle:hover{
    transform: scale(0.95);
}

.edit-container {
    height: 100%;
    width: 50%;

}

.edit-toggle {
    height: 100%;
    width: 50%;
    cursor: pointer;
    transition: transform .5s;
}

.edit-toggle:hover{
    transform: scale(0.9);
}

.loading {
    display: flex;
    justify-content: center;
}

.loading-message {
    border-radius: 25px;
    border: 1px solid #7070db;
    color: #7070db;
    padding: 10px;
}