.register {
    display: flex;
    align-items: center;
    background-image: url("photos2.jpg");
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.register-form-card-left {
    background-color: white;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.register-form-card-right {
    /*background-image: linear-gradient(#5c5cd6,#cccccc);*/
    background-color: #7070db;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.register-form-card h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.register-form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-input {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: 275px;
    padding: 10px;
    outline: none;
    border: none;
    border: solid #3333cc;
    border-radius: 30px;
    background-color: #fffef7;
    font-size: 1rem;
}

.register-form-button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 10px;
    /*background-image: linear-gradient(#4d4dff,#bf80ff);*/
    background-color: #3333cc;
    color: white;
    border: none;
    font-size: 1rem;
}

.register-link {
    margin-top: 2rem;
}

.info-container {
    width: 50%;
    height: 100vh;
}

.google {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.facebook {
    color: white;
    background-color: #4040bf;
    padding: 10px;
    border-radius: 20px;
}

.apple {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.click {
    cursor: pointer;
}

#flashback {
    font-family: "Billion Dreams", serif;
    font-size: 75px;
}