.register {
    display: flex;
    align-items: center;
    background-image: url("photos2.jpg");
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.register-form-card-left {
    background-color: white;
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.register-form-card-right {
    background-color: #7070db;
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.register-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

.register-form-input {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: 275px;
    padding: 10px;
    outline: none;
    border: none;
    border: solid #420dab;
    border-radius: 30px;
    background-color: #fffef7;
    font-size: 1rem;
}

.register-form-button {
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #420dab;
    color: white;
    border: none;
    font-size: 1rem;
}

.register-form-signin {
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: white;
    color:  #420dab;
    border: 2px solid #4233cc;
    font-size: 1rem;
}

#flashback {
    font-family: "Billion Dreams", serif;
    font-size: 75px;
}

#error {
    color: red;
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px 25px;
}