.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-card {
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45%;
    min-width: 450px;
    min-height: 550px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.close-modal-button-container {
    background-color: #f0f0f0;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.file {
    opacity: 0;
}

.upload-label {
    width: 150px;
    margin-top: -75px;
    padding: 7.5px 10px;
    background-color:#005f8f;
    border-radius: 15px;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    transition: transform .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-label:hover {
    transform: scale(0.97);
}

.image-placeholder {
    background-color: #d4d4d4;
    height: 350px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.uploaded-image {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.multiple-images-arrow-left {
    position: absolute;
    top: 175px;
    left: 10px;
    background-color: #f0f0f0;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.multiple-images-arrow-right {
    position: absolute;
    top: 175px;
    right: 10px;
    background-color: #8a7a7a;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.detail-inputs {
    display: flex;
}

.file-details {
    padding: 10px;
    margin: 0.9rem;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-size: 0.9rem;
}

.submit {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #005f8f;
    transition: transform .2s ease-out;
}

.submit:hover {
    transform: scale(0.95);
}

#no-file {
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.error {
    color: red;
    margin: 0px 10px 10px 0px;
    text-align: center;
    font-size: 0.8rem;
}