.nav-bar-container {
    background-color: #7070db;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
}

.search {
    display: flex;
    flex-direction: row;
}

.nav-buttons {
    display: flex;
    align-items: flex-end;
}

.upload-container {
    height: 100%;
    width: 20%;
    display: flex;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favourites-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signout-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar {
    width: 700px;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1.5px solid #006399;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.flashback-title {
    cursor: pointer;
    color: white;
    padding-left: 75px;
    padding-right: 30px;
    padding-top: 7px;
    font-size: 55px;
}

.upload {
    margin: 0.8rem;
    border: 1px solid #4233cc;
    color: white;
    background-color: #4233cc;
    border-radius: 5px;
}

#signout {
    border-radius: 10px;
    margin-left: 50px;
    background-color: white;
    color:  #420dab;
    border: 2px solid #4233cc;
    padding: 8px 16px;
    transition: ease-in;
}

.nav-bar p:hover {
    transform: scale(0.95);
}
