.nav-bar-container {
    background-color: #005f8f;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-container {
    width: 20%;
    min-width: 250px;
}

.logo {
    font-size: 2.5rem;
    font-family: "Billion Dreams", serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

.search-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 80%;
}

.search-bar {
    width: 50%;
    padding: 0.8rem;
    font-size: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #def4fe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform .3s;
}

.upload-container:hover {
    background-color: #9addff;
}

.upload {
    height: 55%;
    width: 32.5%;
}

.nav-bar img {
    transition: transform .3s;
}

.nav-bar img:hover {
    transform: scale(0.8);
}