.nav-bar-container {
    background-color: #f7f7f7;
    height: 75px;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.search-upload {
    display: flex;
    flex-direction: row;
}

.search-bar {
    width: 400px;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1.5px solid #006399;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.upload {
    margin: 0.8rem;
    border: 1px solid #006399;
    color: white;
    background-color: #006399;
    border-radius: 5px;
}

.nav-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: #006399;
    padding: 10px 20px;
    border: 1px solid #006399;
    border-radius: 5px;
    margin: 0.8rem;
    transition: ease-in;
}

.nav-bar p:hover {
    transform: scale(0.95);
}