.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.image-modal-card {
    position: fixed;
    width: 45%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.close-container {
    position: fixed;
    top: 5px;
    right: 5px;
}

.upload-close {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 0.25px solid white;
    padding: 0.5rem;
}