.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}