.feed-container-a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.feed {
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}