.feed-container img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 6px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    transition: transform .5s;
}

#shadow {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feed-container img:hover {
    transform: scale(1.015);
}